---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import Greeting from '../components/Greeting';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>私の素晴らしいブログのサブタイトル</h2>
  <Greeting client:load messages={["どうも", "こんにちは", "初めまして", "ようこそ"]} />

</BaseLayout>